<div>Guests list</div>


<%= form_with url: registrations_path do |f| %>
  <%= hidden_field_tag(:event_id, @event.id) %>
  <%= f.collection_check_boxes :guests_list, users_list(@event.id, current_user), :id, :name %>
  <%= f.submit %>
<% end %>
